@import url('https://fonts.googleapis.com/css?family=Inter:700|Comfortaa:400');

:root {
  --background-primary: #f8f8ffb0;
  --border-color: #d3d3d365;
  --bottom-color: #a18d8e;

<<<<<<< HEAD
=======
  /* TAMAÑO DE LETRA */




>>>>>>> ariel
  /* Tema light */
  --text-light: #1e0716;
  --background-light: #fcf4fa;
  --primary-light: #d443a8;
  --secondary-light: #e796a3;
  --accent-light: #da5f63;
  --line-color-buttom: #c9c9c9;

  /* Tema black */
  --text-black: #f3ecf2;
  --background-black: #0a0609;
  --primary-black: #cfafc6;
  --secondary-black: #5e633c;
  --accent-black: #6f9f61;

}

body {
  font-family: 'Comfortaa';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter';
  font-weight: 700;
}

html {
  font-size: 100%;
}

/* 16px */


h1 {
  font-size: 4.210rem;
  /* 67.36px */
}

h2 {
  font-size: 3.158rem;
  /* 50.56px */
}

h3 {
  font-size: 2.369rem;
  /* 37.92px */
}

h4 {
  font-size: 1.777rem;
  /* 28.48px */
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
}

small {
  font-size: 0.750rem;
  /* 12px */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.715rem;
}

/* HEADER */

#app {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  /* border: solid 1px; */
  background-color: var(--background-primary);
}

/* #app .wrapper{
  border: solid 1px;
  width: 100%;
} */

.borders-btom {
  border-bottom: solid var(--border-color) 1px;
}

.container {
  /* border: solid 1px; */
  max-width: 1224px;
  margin: 0 auto;
}

/********************* */

.header-top {
  /* border: solid 1px; */
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.header-top ul {
  /* border: solid 1px; */
  width: 15%;
  display: flex;
  justify-content: right;
  gap: 22px;
  font-family: 'Comfortaa';
}

.header-top p i,
.header-top p a {
  font-size: 1.195rem;
  margin-left: 6px;
  color: green;
}


.header-top li {
  /* border: solid 1px; */
  /* margin-left: 20px; */
}

.header-top a {
  text-decoration: none;
  color: #0a0609;
}

/******************* Navegacion ******************/

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}

.search {
  /* border: solid 1px; */
  width: 35%;
}

.search form {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
}


.search input {
  border-radius: 6px;
  border: 1px solid;
  padding: 8px 12px;
  width: 60%;
}

.search button {
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: var(--bottom-color);
  color: white;
  cursor: pointer;
  font-size: 1.4rem;
}

.search button:hover {
  background-color: #a18d8ec7;
  transition: 350ms;
}

.header-nav .nav-icons {
  display: flex;
  gap: 28px;
}

/******************* CATEGORIAS ******************/

.header-category {
  /* border: solid 1px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.category-items {
<<<<<<< HEAD
  border: solid 1px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 12px;
  background-color: var(--bottom-color);
  color: white;
  font-weight: 700;
  font-size: 1.195rem;
  border-radius: 16px;
  /* border: solid 2px; */
  gap: 8px;
  height: 52px;
=======

  /* border: solid 1px black; */
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 16px;
  background-color: var(--bottom-color);
  color: white;
  font-size: 1.195rem;
  border-radius: 8px;
  /* border: solid 2px; */
  gap: 8px;
  height: 54px;
>>>>>>> ariel
}

.category-items div {
  /* border: solid 1px; */
  /* font-size: 1.4rem; */
  font-size: 1.615rem;
}

<<<<<<< HEAD
=======
.nav-items {
  /* border: solid 1px; */
  display: flex;
  justify-content: right;
  margin: 0;
  gap: 10px;
  font-size: 1.195rem;
}

.nav-items li {
  /* border: solid 1px; */
  padding: 16px 16px;
  cursor: pointer;
  border-radius: 8px;
}

.nav-items li:hover {
  transition: 140ms;
  color: white;
  background-color: var(--bottom-color);
}

/******************* MAIN ******************/

.main-center {
  /* border: solid 1px; */
  display: flex;
  padding: 7px;
  justify-content: space-between;
}

.main-left {
  /* border: solid 1px; */
}

.left-column {
  /* border: solid 1px red; */
  display: flex;
  flex-direction: column;
  /* padding: 7px; */
  gap: 6px;
  width: 264px;
}

/* Relative */
.column-items {
  /* border: solid 1px; */
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-size: 0.860rem; */
  padding: 14px 6px 14px 12px;
  /* width: 100%; */
  font-size: 1.125rem;
  position: relative;
  z-index: 100;
}

.column-items:hover {
  background-color: var(--bottom-color);
  color: white;
}



.column-items:hover .subOne-items {
  display: block;
}

.subOne-items li {
  /* border: solid 1px; */
  /* margin: 3px; */
  /* padding: 30px; */
  /* font-size: 0.7rem; */
}

.subColum-items {
  /* border: solid 1px black; */
  display: flex;
  width: 120px;
}

.item-lvl-two {
  /* border: solid 1px; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 5px; */
}




/* SUB-ONE */
.subOne-items {
  /* border: solid 1px black; */
  /***** Absolute *******/
  display: none;
  position: absolute;
  top: 5px;
  left: 264px;
}

.subOne-items li {
  /* border: solid 1px black; */
  /* background-color: var(--bottom-color); */
  border-radius: 8px;
  font-size: 0.925rem;
  margin: 2px 0;
  /* padding: 8px 12px; */
  padding: 10px 14px;
  width: 150px;
  color: black;
}

.subOne-items li:hover {
  background-color: var(--bottom-color);
  color: white;
}





/* SUB-TWO */
.subTwo-items {
  /* border: solid 1px; */
  display: none;
  position: absolute;
  top: 5px;
  left: 177px;
}






.subColum-items:hover .subTwo-items {
  display: block;
}

.subTwo-items li {
  /* border: solid 1px black; */
  /* padding: 6px 0px 6px 10px; */
  padding: 10px 12px;
}


.main-rigth {
  /* border: solid 1px; */
  width: 950px;
}


.content-wrapper {
  height: 100%;
}

.swiper {
  /* border: solid 1px; */
  height: 100%;
  border-radius: 16px;
}


.swiper img {
  width: 100%;
  height: 100%;
}


>>>>>>> ariel


/* MEDIAS */
@media (max-width:835px) {}

@media (max-width:395px) {
  html {
    background-color: red;
  }
}